{% extends "base.html.twig" %}

{% block body %}
<ul>
    {% for user in users %}
    <li>{{ user.name }}</li>
    {% endfor %}
</ul>
<img alt='duck' src={{ asset('images/duck.png') }} />
{% endblock %}