<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="bg-red">
            <ul class="flex gap-4 hover:text-zinc-400">{# lien toujours utiliser les noms des liens car les liens physiques peuvent changer (url SEO) #}
                <li><a href="{{ path('app_home') }}">home</a></li>
                <li><a href="{{ path('app_trainers') }}">trainer</a></li>
                <li><a href="{{ path('app_contact') }}">contact</a></li>
            </ul>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
